.catalogo-container {
  padding: 30px; /* Aumentei o espaçamento interno */
  width: 1500px; /* Aumentei a largura máxima */
  margin: 0 auto; /* Centraliza o container na página */
  background-color: #f9f9f9; /* Cor de fundo para o container */
  border-radius: 12px; /* Bordas mais arredondadas */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Sombra mais suave e profunda */
  overflow-y: auto; /* Adiciona barra de rolagem vertical */
  max-height: 95vh; /* Aumentei a altura máxima */
}

.adicionar-produto-btn {
  background-color: #1230AE;
  color: white;
  border: none;
  padding: 15px 25px; /* Botão maior */
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 30px; /* Mais espaço abaixo do botão */
  width: 100%; /* Botão ocupa toda a largura do container */
  font-size: 1.1em; /* Texto maior no botão */
}

.adicionar-produto-btn:hover {
  background-color: #535bf2;
}

.produtos-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Layout responsivo */
  gap: 30px; /* Espaçamento maior entre os produtos */
}