.lista-container {
  padding: 30px;
  min-width: 1200px;
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 95vh;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.controls button {
  background-color: #1230ae;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.controls button:hover {
  background-color: #0d248a;
}

.carrinho-total {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.produtos-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.lista-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lista-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.produto-foto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.card-content {
  flex: 1;
}

.produto-nome {
  font-size: 1.4em;
  margin: 10px 0;
  color: #333;
}

.produto-info {
  font-size: 1.1em;
  color: #555;
  margin: 5px 0;
}

.produto-preco {
  background-color: #ffeb3b;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

.select-checkbox {
  margin-left: 20px;
}